.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--neutral-light);
    padding: .75rem 0;
    animation: fadeInFromTop 0.5s ease-in-out forwards;
    transition: all .3s ease-in-out;
}

.header.scrolled {
    background-color: var(--neutral-light);
    padding: 0.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header img {
    width: 60px;
    height: 60px;
    transition: all .3s ease-in-out;
}

.header.scrolled img {
    transition: all .3s ease-in-out;
    width: 50px;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList a {
    font-size: 1.125rem;
    font-family: var(--body-font);
    font-weight: var(--fw-500);
    color: var(--neutral-dark);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.navList a:hover {
    color: var(--secondary-color);
}

.navList a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s;
}

.navList a:hover::after {
    width: 100%;
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.hamburgerLine {
    width: 30px;
    height: 3px;
    background-color: var(--neutral-dark);
    transition: all 0.3s;
}

.hamburgerLine + .hamburgerLine {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .hamburgerMenu {
        display: block;
    }

    .navList {
        display: none;
    }
}

@keyframes fadeInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}