.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--neutral-light);
    padding: 1rem 0;
    animation: fadeInFromTop 0.5s ease-in-out forwards;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navList a {
    font-size: 1.125rem;
    font-family: var(--body-font);
    font-weight: var(--fw-500);
    color: var(--neutral-dark);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.navList a:hover {
    color: var(--secondary-color);
}

.navList a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s;
}

.navList a:hover::after {
    width: 100%;
}

@keyframes fadeInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}