.portfolio {
    padding-bottom: 4rem;
}

.portfolio h2, .portfolio h3 {
    margin: 0;
}

.sectionTitle{
  padding: 7rem 0 2rem 0;
  text-align: center;
  font-size: clamp(2.75rem, 2.1rem + 2.667vw, 4.5rem);
  color: white;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.sectionSubtitle {
  font-size: clamp(1.5rem, 1.443rem + 1.286vw, 2.5rem);
  color: var(--secondary-color);
}

.portfolioColumns {
    margin-left: 0;
}

.portfolioHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(2.5rem, 1.943rem + 2.286vw, 4rem);
    background-color: var(--neutral-light);
}

.portfolioHeading a {
    font-size: 1.25rem;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
}

.workCard {
    background-color: white;
    transition: all 0.3s ease;
    padding: clamp(1.5rem, 1.314rem + 0.762vw, 2rem);
    border: 1px solid var(--primary-color);
}

.workCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.workDate {
    font-size: 1rem;
    color: gray;
    text-transform: uppercase;
    margin: .5rem 0 1rem 0;
}

.workType {
    font-size: 1.25rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin: 0;
    font-weight: var(--fw-500);
}

.workDescription {
    font-size: clamp(1rem, 0.954rem + 0.19vw, 1.125rem);
    color: var(--neutral-dark);
    margin: 1rem 0;
}

.techList {
    display: flex;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-block: 2rem;
}

.techList li {
    background-color: rgba(107, 192, 188, 0.7);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1rem);
    font-weight: var(--fw-500);
}

.workLink {
    font-size: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
    color: var(--primary-color);
    text-decoration: none;
    width: fit-content;
    position: relative;
}

.workLink::after {
    content: '';
    height: 2px;
    display: block;
    width: 0;
    background-color: var(--primary-color);
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.workLink:hover::after {
    width: 100%;
}

.workLink img {
    margin-left: 0.5rem;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .portfolioHeading {
        flex-direction: column;
        gap: 2rem;
    }

    .sectionSubtitle {
        text-align: center;
    }
}