.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.heroColumns {
  width: 100%;
  align-items: center;
}

.heroPfp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  padding: 0 0 1.5rem 0;
  border-bottom: 3px solid var(--neutral-light);
}

.heroContent h1 {
  font-size: clamp(2rem, 1.257rem + 3.048vw, 4rem);
  font-weight: var(--fw-700);
  font-family: var(--heading-font);
  color: var(--neutral-dark);
}

.heroContent h2 {
  font-size: 1.5rem;
  font-weight: var(--fw-500);
  font-family: var(--heading-font);
  color: var(--neutral-dark);
}

.heroCta {
  padding: 1.5rem 0 0 0;
  border-top: 3px solid var(--neutral-light);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.heroCta a {
  font-size: 1.125rem;
  font-weight: var(--fw-500);
  font-family: var(--body-font);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--primary-color);
  transition: all 0.3s;
  width: 250px;
  text-align: center;
}

.heroCta a.primaryBtn {
  background-color: var(--primary-color);
  color: var(--neutral-light);
  border-radius: 0.25rem;
}

.heroCta a.primaryBtn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.heroCta a.secondaryBtn {
  color: var(--primary-color);
  border-radius: 0.25rem;
}

.heroCta a.secondaryBtn:hover {
  color: var(--neutral-light);
  background-color: var(--primary-color);
}

.heroPfp img {
  width: clamp(9.375rem, 5.893rem + 14.286vw, 18.75rem);
  height: clamp(9.375rem, 5.893rem + 14.286vw, 18.75rem);
}

.shapeHero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapeHero svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: clamp(5rem, 3.375rem + 6.667vw, 9.375rem);
    animation: fadeInFromBottom 0.5s ease-in-out forwards;
}

.shapeHero path {
    fill: #6BC0BC80;
}

@media screen and (max-width: 768px) {
    .heroCta {
      flex-direction: column;
    }

    .heroColumns {
      width: auto;
    }
}

@keyframes fadeInFromBottom {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}